.contact-us {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

.contact-header {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.contact-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px; /* Add padding between cards */
}

.contact-item {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  min-height: 200px; /* Set a minimum height */
}

.contact-item:hover {
  transform: translateY(-5px);
}

.contact-item h2 {
  margin-top: 0;
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}

.contact-item p {
  color: #666;
}

.contact-item p:first-child {
  margin-top: 0;
}

.contact-item p:last-child {
  margin-bottom: 10px;
}
.github-section {
  margin: 40px;
  display: grid;
  place-items: center; /* Center the content horizontally and vertically */
}

.github-section h2 {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-top: 12px;
}

.github-section p {
  margin-top: 12px;
  color: #666;
  line-height: 1.6;
}

.feedback-section {
  margin-bottom: 40px;
}

.feedback-section h2 {
  font-size: 34px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.feedback-section p {
  color: #666;
  text-align: center;
  margin-bottom: 12px;
  line-height: 1.6;
}

.feedback-section form {
  display: flex;
  flex-direction: column;
}

.feedback-section form div {
  margin-bottom: 12px;
  margin-bottom: 20px;
}

.feedback-section label {
  font-weight: bold;
  margin-bottom: 5px;
}

.feedback-section textarea,
.feedback-section input[type="email"] {
  width: calc(100% - 20px); /* Adjusted width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.feedback-section .submit-button {
  width: calc(100% - 20px); /* Adjusted width */
  background-color: #007bff;
  color: #fff;
  padding: 10px 0; /* Adjusted padding */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.feedback-section .submit-button:hover {
  background-color: #0056b3;
}

